body{
    background-image: url('img/bgpink.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin: 90px;
    max-width: 600px;
}

pre{
    background-image: inherit;
    border: 2px solid pink;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 50px 20px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
    margin: 3rem auto;
}

@media (max-width: 425px) {
    
    div{
        margin: 3rem auto;
    }

    pre{
        font-size: 11px;
        margin: 3rem auto;
        padding: 3rem 0;
        max-width: 300px;
    }

}